@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(66, 90, 94);
}

h1 {
    font-family: 'Rock Salt', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.left{
    background-image: url(/img/sea.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35vw;
    z-index: 1;
}

.right {
    width: 65vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(89, 184, 221);
    background: linear-gradient(111deg, rgba(255,255,255,1) 1%, rgba(89,184,221,1) 100%);
}

.top-content{
    width: 90%;
    font-size: 1.2rem;
    font-weight: 500;
}

.pad{
    padding-left: 3vw;
}

.bottom-text{
    margin: 40px 0 80px;
}

.top-form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 3vw;
    padding-bottom: 20px;
    box-shadow: -18px 13px 20px -15px rgb(89, 184, 221);
}

.form-title{
    width: 100%;
}

.form-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}

input{
    width: 100%;
}

button{
    padding: 10px;
    margin: 3vw;
    margin-bottom: 20px;
    border: 2px solid rgb(89, 184, 221);
    border-radius: 5px;
    background-color: white;
}

button:hover{
    background-color: rgb(89, 184, 221);
    color: white;
}

.logo{
    position: relative;
    height: auto;
    background-color: rgba(89, 184, 221, 0.295);
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 1em;
    flex-wrap: wrap;
}

img{
    height: 10vh;
}